---
import Navigation from "../components/global/Navigation.astro"
import Layout from '../layouts/Layout.astro';
import SignIn from '../components/global/SignIn.astro'

---


<Layout title="Landing2">
    <Navigation />
    <main>
    <SignIn />
	</main>
</Layout>


<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1450px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}

</style>
