---
import { Icon } from 'astro-icon/components';
---

<div class="w-full h-[500px] mt-[80px]">
    <p class="text-[25px] text-left ml-[50px] text-[#765c2d]">What Our Customers</p>
    <h1 class="text-[48px] font-bold ml-[50px] text-black">Are Saying</h1>
    
    <div class="w-full h-[70%] flex items-center justify-center md:mt-[50px]">
        <div class="w-[23%] h-full ml-[-50px]">
            <div class="w-[90%] h-[30px] mt-[10px] flex items-center justify-center">
            <Icon name="mdi:star" class="text-[30px] ml-[-120px] text-yellow-500" />
            <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
            <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
            <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
            <Icon name="mdi:star-half" class="text-[30px] text-yellow-500" />


            </div>
            <h1 class="text-[38px] font-bold w-[90%] text-black mt-[10px]">Best Travel Ever Ever</h1>
            <p class="w-full text-[19px] font-normal text-gray-400">"Best Travel I have been trough and experienced"</p>
            <p class="w-full text-[22px] font-bold mt-[30px] text-[#765c2d]">Ashley Norman</p>
            <p class="w-full text-[18px] font-normal mt-[0px] text-black">4 Days Ago</p>

        </div>
        <div class="w-[23%] h-full ml-[50px]">
            <div class="w-[90%] h-[30px] mt-[10px] flex items-center justify-center">
                <Icon name="mdi:star" class="text-[30px] ml-[-120px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
            
    
    
                </div>
                <h1 class="text-[38px] font-bold w-[90%] text-black mt-[10px]">Best pricing in the US</h1>
                <p class="w-full text-[19px] font-normal text-gray-400">"I couldnt believe how affordable it was for my trip"</p>
                <p class="w-full text-[22px] font-bold mt-[30px] text-[#765c2d]">Seth Jackson</p>
                <p class="w-full text-[18px] font-normal mt-[0px] text-black">2 Days Ago</p>
        </div>
        <div class="w-[23%] h-full ml-[50px]">
            <div class="w-[90%] h-[30px] mt-[10px] flex items-center justify-center">
                <Icon name="mdi:star" class="text-[30px] ml-[-120px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                
    
    
                </div>
                <h1 class="text-[38px] font-bold w-[90%] text-black mt-[10px]">Vacation felt like Home</h1>
                <p class="w-full text-[19px] font-normal text-gray-400">"Felt like I was right at home but better!"</p>
                <p class="w-full text-[22px] font-bold mt-[30px] text-[#765c2d]">Riley Smith</p>
                <p class="w-full text-[18px] font-normal mt-[0px] text-black">34 Hours Ago</p>
        </div>
        <!-- <div class="w-[23%] h-full bg-pink-200 ml-[20px]">
            <div class="w-[90%] h-[30px] mt-[10px] flex items-center justify-center">
                <Icon name="mdi:star" class="text-[30px] ml-[-120px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star-half" class="text-[30px] text-yellow-500" />
    
    
                </div>
                <h1 class="text-[38px] font-bold w-[90%] text-black mt-[10px]">Best Travel Ever Ever</h1>
                <p class="w-full text-[19px] font-normal text-gray-400">"Best Travel I have been trough and experienced"</p>
                <p class="w-full text-[22px] font-bold mt-[30px] text-[#765c2d]">Ashley Norman</p>
                <p class="w-full text-[18px] font-normal mt-[0px] text-black">2 Days Ago</p>
        </div> -->
    </div>
</div>