<div
class="w-[110%] md:w-[70%] h-[700px] md:h-[380px] md:mt-[0px] md:flex md:items-center md:justify-center md:ml-[15%]"
>


    
    <div
    class="w-full h-[240px] md:w-[55%] md:h-[80%] bg-[#DED0B6] card1  md:ml-[0px] rounded-xl"
    >
       <p class="ml-[20px] mt-[80px] text-[16px] font-light text-black">New Members</p>
       <h1 class="ml-[20px] mt-[0px] text-[45px] font-bold text-black">Get 30% OFF</h1>
       <button class="w-[150px] h-[45px] rounded-sm bg-[#607274] ml-[20px] mt-[10px]">Book Now</button>
    </div>
    


    <div
    class="w-full h-[240px] md:w-[45%] md:h-[80%] bg-[#607274] card2 md:ml-[50px] mt-[50px] md:mt-0 rounded-xl"
    >
    <p class="ml-[0px] mt-[20px] text-[16px] font-light text-white text-center">When Kids Travel</p>
    <h1 class="ml-[0px] mt-[0px] text-[45px] font-bold text-white text-center">Get 40% OFF</h1>
    </div>    
</div>

<style>
    .card1{
    background-image: url("https://i.imgur.com/VYBY4o4.png");
    background-size: cover;
    background-position: center;
    }

    .card2{
    background-image: url("https://i.imgur.com/7ZhvdgY.png");
    background-size: cover;
    background-position: center;
    }
</style>