<div
    class="w-full mt-0 md:mt-[-100px] "
>
    <div
     class="w-full h-[800px] md:h-[850px] ml-[35px] md:ml-0"
    >  

   
    <div class="w-[35%] h-[450px] mt-[20px] md:mt-[100px] ml-[32%]">
        <img src="https://i.imgur.com/tXZFmON.png" alt="" class="w-full h-full" />
    </div>
    <div class="flex items-center justify-center">
        <div class="w-[170px] h-[50px] bg-[#DED0B6] ml-[30px] md:ml-[0px] rounded-full flex items-center justify-center mt-[-10px] md:mt-[40px]">
            <h1 class="text-[18px] font-light">Travel easy</h1>
        </div>
    </div>
    <h1 class="text-center font-bold ml-[30px] md:ml-[13%] text-[50px] md:text-[60px] text-black w-[70%] md:w-[75%] mt-[10px] md:mt-[10px]">
        Explore and Stay Where it Feels Home
    </h1>

    <p class="invisible md:visible mt-[20px] md:mt-[10px] text-left md:text-center  text-[18px] md:text-[20px] text-[#607274] w-[80%] md:w-[90%]">
        The only app in the market where it helps you communicate quick and easy trough an app at work.
      
        </p>

    </div>

</div>