<div
    class="w-[120%] md:w-full ml-[10px] md:ml-0 mt-[-50px] md:mt-[-100px]"
>
    <div
     class="w-full h-[800px] md:h-[850px] ml-[35px] md:ml-0"
    >  

   
    <div class="w-full md:w-[35%] md:h-[450px] mt-[20px] md:mt-[100px] ml-[-35px] md:ml-[32%]">
        <img src="https://i.imgur.com/S7LY6LW.png" alt="" class="w-full h-full" />
    </div>
    <div class="flex items-center justify-center ml-[-35px] md:ml-0 mt-[20px] md:mt-0">
        <div class="w-[170px] h-[50px] bg-[#DED0B6] ml-[-20px] md:ml-[0px] rounded-full flex items-center justify-center mt-[-10px] md:mt-[40px]">
            <p class="text-[18px] font-light">Travel easy</p>
        </div>
    </div>
    <h1 class="text-center font-bold ml-[-10px] md:ml-[13%] text-[50px] md:text-[60px] text-black w-[90%] md:w-[75%] mt-[10px] md:mt-[20px]">
        Explore and Stay Where it Feels Home
    </h1>

    <p class="invisible md:visible mt-[20px] md:mt-[30px] text-left md:text-center  text-[18px] md:text-[20px] text-[#607274] w-[80%] md:w-[90%] ml-0 md:ml-[80px]">
        The only app in the market where it helps you communicate quick and easy trough an app at work.
      
        </p>

    </div>

</div>