---
interface Props {
	title: string;
}
import '@fontsource/righteous';
import '@fontsource-variable/baloo-thambi-2';
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width" />
		<meta name="theme-color" content="#FAEED1"/>
		<SEO
      		title="TravHome"
      		description="A heavily optimized description full of well-researched keywords." 
      		openGraph={{
        		basic: {
          		title: "TravHome",
          		type: "A type.",
          		image: "https://i.imgur.com/M1QzMzI.png",
        		}
      		}}
      		twitter={{
        	creator: "@abdaeldev"
     		}}
      		extend={{
        	// extending the default link tags
        	link: [{ rel: "icon", href: "/favicon.ico" }],
        	// extending the default meta tags
        	meta: [
          	{
            name: "twitter:image",
            content: "https://pbs.twimg.com/profile_images/1690577956006166530/mKe9PDPJ_400x400.jpg", // Use your own profile picture.
          		},
        		],
      		}}
    	/>
		
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #FAEED1;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	h1 {
		font-family: 'Righteous', system-ui;
		line-height: 1;
	}

	p {
		font-family: 'Baloo Thambi 2 Variable', system-ui;
	}


</style>
