
<div 
class="w-[110%] md:w-full h-[750px] md:h-[570px] mt-[30px] md:mt-[-100px] "
>
   

    <div
    class="w-full h-[500px] mt-[0px] md:mt-[20px] md:flex md:items-center md:justify-center"
    >
        <div
        class="w-full h-[300px] md:w-[40%] md:h-[90%] ml-0 md:ml-0 flex items-center justify-center"
        >
            <div
            class="w-[80%] md:w-[90%] h-[105%] md:h-[100%] mt-0  md:mt-[0px] rounded-xl"
            >
                <img src="https://i.imgur.com/9Mr7W2L.png" alt="reviewer" class="w-full h-full" />
            </div>
        </div>

        <div
        class=" w-full h-[250px] md:w-[60%] md:h-full"
        >
        <p class="ml-[20px] md:ml-[50px] text-[18px] md:text-[20px] text-center md:text-left w-[90%] md:w-[70%] text-[#765c2d] mt-[20px] md:mt-[60px]">Zero Stress</p>
            <p class="md:ml-[50px] text-[25px] md:text-[48px] text-center md:text-left font-bold text-black md:w-[80%]">Dont Let Planning a Vacation Bring Stress</p>
            <p class="ml-[20px] md:ml-[50px] mt-[20px] text-[18px] md:text-[20px] text-center md:text-left w-[90%] md:w-[70%] text-[#607274]">This is the most secure platform to not only get tasks done but also for any payments! platform to not only get tasks done but also for any payments!</p>
            <div class="ml-[50px] w-[70%] h-[70px] mt-[30px]">
                <button class="w-[300px] h-[80%] bg-black rounded-xl">
                    Search Destination
                </button>
            </div>
        </div>
    </div>
</div>