---
import { Icon } from 'astro-icon/components';
---

<div class="w-[120%] md:w-full h-[800px] md:h-[500px] mt-[80px] ml-[-10px] md:ml-0">
    <p class="text-[25px] text-center md:text-left ml-[-20px] md:ml-[50px] text-[#765c2d]">What Our Customers</p>
    <h1 class="text-[48px] font-bold ml-[-20px] md:ml-[50px] text-black text-center md:text-left">Are Saying</h1>
    
    <div class="w-full h-[70%] md:flex md:items-center md:justify-center mt-[50px] md:mt-[70px]">
        <div class="w-full h-[35%] md:w-[23%] md:h-full md:ml-[-50px] mt-[20px] md:mt-0">
            <div class="w-[40%] md:w-[90%] h-[30px] mt-[10px] ml-[125px] md:ml-0 flex items-center justify-center">
            <Icon name="mdi:star" class="text-[30px] md:ml-[-120px] text-yellow-500" />
            <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
            <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
            <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
            <Icon name="mdi:star-half" class="text-[30px] text-yellow-500" />


            </div>
            <h1 class="text-[38px] font-bold w-full md:w-[90%] text-black mt-[10px] text-center md:text-left">Best Travel Ever Ever</h1>
            <p class="w-full md:w-[80%] text-[19px] font-normal text-[#607274] text-center md:text-left mt-0 md:mt-[10px]">"Best Travel I have been trough and experienced"</p>
            <p class="w-full text-[22px] font-bold mt-[10px] md:mt-[30px] text-[#765c2d] text-center md:text-left">Ashley Norman</p>
            <p class="invisible md:visible w-full text-[18px] font-normal mt-[0px] text-black text-center md:text-left">4 Days Ago</p>

        </div>
        <div class="w-full h-[35%] md:w-[23%] md:h-full md:ml-[0px] mt-[20px] md:mt-0">
            <div class="w-[40%] md:w-[90%] h-[30px] mt-[10px] ml-[125px] md:ml-0 flex items-center justify-center">
                <Icon name="mdi:star" class="text-[30px] md:ml-[-120px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
            
    
    
                </div>
                <h1 class="text-[38px] font-bold w-full md:w-[90%] text-black mt-[10px] text-center md:text-left">Best pricing in the US</h1>
                <p class="w-full md:w-[80%] text-[19px] font-normal text-[#607274] text-center md:text-left mt-0 md:mt-[10px]">"I couldnt believe how affordable it was for my trip"</p>
                <p class="w-full text-[22px] font-bold mt-[10px] md:mt-[30px] text-[#765c2d] text-center md:text-left">Seth Jackson</p>
                <p class="invisible md:visible w-full text-[18px] font-normal mt-[0px] text-black text-center md:text-left">2 Days Ago</p>
        </div>
        <div class="w-full h-[35%] md:w-[23%] md:h-full md:ml-[0px] mt-[20px] md:mt-0">
            <div class="w-[40%] md:w-[90%] h-[30px] mt-[10px] ml-[125px] md:ml-0 flex items-center justify-center">
                <Icon name="mdi:star" class="text-[30px] md:ml-[-120px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                
    
    
                </div>
                <h1 class="text-[38px] font-bold w-full md:w-[90%] text-black mt-[10px] text-center md:text-left">Vacation felt like Home</h1>
                <p class="w-full md:w-[80%] text-[19px] font-normal text-[#607274] text-center md:text-left mt-0 md:mt-[10px]">"Felt like I was right at home but better!"</p>
                <p class="w-full text-[22px] font-bold mt-[10px] md:mt-[30px] text-[#765c2d] text-center md:text-left">Riley Smith</p>
                <p class="invisible md:visible w-full text-[18px] font-normal mt-[0px] text-black text-center md:text-left">34 Hours Ago</p>
        </div>
        <!-- <div class="w-[23%] h-full bg-pink-200 ml-[20px]">
            <div class="w-[90%] h-[30px] mt-[10px] flex items-center justify-center">
                <Icon name="mdi:star" class="text-[30px] ml-[-120px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star" class="text-[30px] text-yellow-500" />
                <Icon name="mdi:star-half" class="text-[30px] text-yellow-500" />
    
    
                </div>
                <h1 class="text-[38px] font-bold w-[90%] text-black mt-[10px]">Best Travel Ever Ever</h1>
                <p class="w-full text-[19px] font-normal text-gray-400">"Best Travel I have been trough and experienced"</p>
                <p class="w-full text-[22px] font-bold mt-[30px] text-[#765c2d]">Ashley Norman</p>
                <p class="w-full text-[18px] font-normal mt-[0px] text-black">2 Days Ago</p>
        </div> -->
    </div>
</div>












