<div class=" w-[120%] md:w-full h-[1000px] md:h-[300px] mt-[50px] md:mt-[80px] md:flex md:items-center md:justify-center">
    <div class="w-full; h-[20%] md:w-[30%] md:h-full ">
        <p class="text-[20px] font-light ml-[30px] md:ml-[50px] mt-[70px] text-[#765c2d]">What we Offer</p>
        <h1 class="ml-[30px] md:ml-[50px] text-[52px] md:text-[48px] font-bold w-[90%] text-black mt-[0px] md:mt-[10px]">Easy & Top Value</h1>
        <!-- <p class="text-[18px] w-[85%] mt-[5px] ml-[50px] text-[#607274]">Whether its a staycation or full vacation...well make it easy for you</p> -->
    </div>
    <div class="w-full md:w-[70%] h-full md:flex md:items-center md:justify-center">
        <div class=" w-full h-[25%] md:w-[30%] md:h-[80%]  mt-[20px] md:mt-0">
            <div class="w-[80px] h-[80px] ml-[30px] md:ml-[15px] mt-[20px]">
                <img src="https://i.imgur.com/57svt8s.png" alt="" class="w-full h-full" />
            </div>
            <h1 class=" ml-[40px] md:ml-[15px] mt-[5px] text-[35px] md:text-[25px] font-bold text-black">Easy to Navigate</h1>
            <p class="w-[80%] md:w-full ml-[40px] md:ml-[15px] mt-[10px] md:mt-[10px] text-[18px] font-normal text-[#607274]">With easy to use site and app making it easy to book.</p>
        </div>

        <div class=" w-full h-[25%] md:w-[30%] md:h-[80%]  md:ml-[20px]">
            <div class="w-[80px] h-[80px] ml-[30px] md:ml-[15px] mt-[20px]">
                <img src="https://i.imgur.com/ZXtw8Fq.png" alt="" class="w-full h-full" />
            </div>
            <h1 class="ml-[40px] md:ml-[15px] mt-[5px] text-[35px] md:text-[25px] font-bold text-black">Best Low Prices</h1>
            <p class="w-[80%] md:w-full ml-[40px] md:ml-[15px] mt-[10px] md:mt-[10px] text-[18px] font-normal text-[#607274]">With easy to use site and app making it easy to book.</p>
        </div>

        <div class="w-full h-[25%] md:w-[30%] md:h-[80%]  md:ml-[20px]">
            <div class="w-[80px] h-[80px] ml-[30px] md:ml-[15px] mt-[20px]">
                <img src="https://i.imgur.com/DLb2PBh.png" alt="" class="w-full h-full" />
            </div>
            <h1 class="ml-[40px] md:ml-[15px] mt-[5px] text-[35px] md:text-[25px] font-bold text-black">Best Destinations</h1>
            <p class="w-[80%] md:w-full ml-[40px] md:ml-[15px] mt-[10px] md:mt-[10px] text-[18px] font-normal text-[#607274]">With easy to use site and app making it easy to book.</p>
        </div>
    </div>
</div>