<footer class=" mt-[50px] md:mt-[150px]">
    <div class="container px-6 py-12 mx-auto ">
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
        

        <div class="ml-[10px] md:ml-[100px] mt-[10px] md:mt-0">
          <p class="font-semibold text-[#765c2d] dark:text-white text-[22px]">
            Quick Links
          </p>

          <div class="flex flex-col items-start mt-5 space-y-2">
            <a class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:cursor-pointer hover:text-blue-500" href="/">
              Home
            </a>
            <a class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:cursor-pointer hover:text-blue-500" href="landing2">
              Landing Page 2
            </a>
            <a class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:cursor-pointer hover:text-blue-500" href="/signin">
              Sign In
            </a>
          </div>
        </div>

        <div class="ml-[10px] md:ml-0">
          <p class="font-semibold text-[#765c2d] dark:text-white text-[22px]">
            Other links
          </p>

          <div class="flex flex-col items-start mt-5 space-y-2">
            <a class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:cursor-pointer hover:text-blue-500" href="/">
              About Us
            </a>
            <a class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:cursor-pointer hover:text-blue-500" href="/">
              Buy Now
            </a>
            <a class="text-gray-600 transition-colors duration-300 dark:text-gray-300 dark:hover:text-blue-400 hover:underline hover:cursor-pointer hover:text-blue-500" href="/">
              Follow My Work
            </a>
          </div>
        </div>
        
        <div class="ml-[10px] md:ml-[200px] flex items-center justify-center mt-[50px]">
         <img src="https://i.imgur.com/Tsx1Dyx.png" alt="" class="w-[50px] h-[50px] md:w-[50px] md:h-[50px] ml-[-100px]" />
         <img src="https://i.imgur.com/rDdet6p.png" alt="" class="w-[50px] h-[50px] md:w-[50px] md:h-[50px] ml-[50px]" />
         <img src="https://i.imgur.com/bl2jKVv.png" alt="" class="w-[50px] h-[50px] md:w-[50px] md:h-[50px] ml-[50px]" />
        </div>


      </div>

     
    </div>
  </footer>