---
import { Icon } from 'astro-icon/components';
---
<!-- This is the Navigation of the website, titles and Logo can be changed. -->
<!--  This is a basic example of the Navigation Bar with working links... Feel free to change or add anything to make it your way!-->

<nav class=" mb-10 mt-[20px] ml-[25px] w-full md:ml-0">
    <div
    x-data="{isOpen: false}" class="max-w-3xl mx-auto py-3 px-6 md:px-0 md:flex md:justify-between md:items-center"
    >
        <div
        class="md:flex md:justify-between md:items-center"
        >
            <div
            class="flex items-center md:ml-[-100px] md:mt-[2px]"
            >
                <img src="https://i.imgur.com/M1QzMzI.png" alt="logo" class="w-[50px] h-[50px] md:w-[60px] md:h-[60px] " />
                <a href="/" class="text-black text-[28px] hover:text-white ml-0 md:ml-[-150px] font-bold">
                    <h1>TravHome</h1>
                </a>
            </div>

           <!-- Mobile Menu button Hamburger -->
            <div
            class="flex md:hidden"
            >
                <button
                type="button"
                class="text-gray-500 hover:text-gray-600 focus:outline-none mt-[-50px] lg:mt-0 ml-[350px] md:ml-0 focus:text-gray-600"
                aria-label="toggle menu"
                @click="isOpen = !isOpen"
                >
                    <div
                    class="h-[50px] w-[50px] flex items-center justify-center ml-[0px] md:ml-[10px]"
                    >
                        <Icon name="mdi:menu" class="text-[#9d9380] text-[30px]" />
                    </div>
                </button>
            </div>

            <!-- menu if mobile is set to hidden -->
            <div 
            :class="isOpen ? 'show' : 'hidden'" class="md:flex items-center mt-4"
            >
                <div
                class="flex flex-col mt-[10px] md:mt-[-10px] md:flex-row ml-6 md:ml-[100px]"
                >
            
                    <a class="my-3 text-[18px] text-black font-normal hover:text-white md:mx-4 md:my-0 hover:underline" href="/">
                        <div
                        class="flex items-center justify-center border-b-[1px] border-b-black md:border-b-0"
                        >
                            <p class="mb-[10px]">Home</p>
                        </div>
                    </a>

                    <a class="my-3 text-[18px] text-black font-normal hover:text-white hover:underline ml-[20px] md:ml-[100px] md:my-0" href="/landing2">
                        <div
                        class="flex items-center justify-center border-b-[1px] border-b-black md:border-b-0 md:w-full"
                        >
                            <p class="mb-[10px]">Page2</p>
                        </div>
                    </a>

                    <a class="my-3 text-[18px] text-black font-normal hover:text-white hover:underline ml-[20px] md:ml-[100px] md:my-0" href="/signin">
                        <div
                        class="flex items-center justify-center border-b-[1px] border-b-black md:border-b-0 md:w-full"
                        >
                            <p class="mb-[10px]">SignIn</p>
                        </div>
                    </a>

                    <a class="my-3 text-[18px] text-black font-normal hover:text-white hover:underline ml-[20px] md:ml-[100px] md:my-0" href="#">
                        <div
                        class="flex items-center justify-center border-b-[1px] border-b-black md:border-b-0"
                        >
                            <p class="mb-[10px]">About</p>
                            <svg class="invisible md:visible" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="m12 15l-5-5h10z"/></svg>
                        </div>
                    </a>
                </div>

                <div
                class="invisible md:visible w-[40%] md:w-full flex items-center justify-center mt-[10px] md:mt-[-15px] md:flex-row ml-[20px] md:ml-[250px]"
                >
                    <button class=" w-[120px] h-[35px] md:h-[45px] rounded-full text-black hover:text-white text-[15px] font-light"><a href="/signin">Sign in</a></button>
               
                    
                    <button class="w-[200px] md:w-[120px] h-[35px] md:h-[45px] bg-black hover:bg-white hover:text-[#244475] rounded-md md:rounded-full text-white text-[15px] hover:shadow-[#F2AFEF] ml-[-90px] md:ml-[15px] font-light">Sign Up</button>
                </div>

            </div>
        </div>
    </div>
</nav>